.header {
  display: flex;
}

.title {
  font-size: 30px;
  font-weight: 700;
}

.nav {
  display: flex;

  &Item {
    height: fit-content;
    cursor: pointer;
    padding: 5px;
  }

  &ItemActive {
    font-weight: 700;
    border-bottom: 1.5px solid #8dafd6;
  }
}
