.header {
  display: flex;
  align-items: center;
  height: 60px;
  padding: 0 80px;
  border-bottom: 1px solid #ddd;

  &Wrapper {
    display: flex;
    align-items: center;
    gap: 20px;
  }
}

.title {
  font-size: 30px;
  font-weight: 700;
}

.nav {
  display: flex;
  gap: 15px;
  margin-left: 20px;

  &Item {
    height: fit-content;
    cursor: pointer;
    padding: 1px 5px;
  }

  &ItemActive {
    font-weight: 700;
    border-bottom: 1.5px solid #8dafd6;
  }
}
