@use "../../scss/settings/vars" as *;

.title {
  font-size: 16px;
}

.main {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  padding: 20px 40px 20px 10px;
  background: #b4cbe1;
  border-radius: 10px;

  .basisRate {
    display: flex;
    gap: 15px;
  }
}

.basisDescription {
  color: $color_font_grey;
}
